@import './_reset.scss';
@import './_font.scss';
@import './_header.scss';
@import './_main.scss';
@import'./loader.scss';

// 변수 설정
:root {
    --white: #fff;
    --black: #000;

    --bg-light: #f0eeeb;
    --bg-light-border: #dad8d1;
    --bg-dark: #000;
    --bg-dark-border: #1b1b1b;

    --font-size: 16px;
    --font-height: 1.4;
    --font-color: #fff;
    --font-main: "NexonLv1Gothic";
}
body {
    background-color: var(--bg-dark);
    // min-height: 100vh;
}
